.TeamsPage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.TeamsPage > .TeamCard {
  margin: 20px auto;
  border: 1px solid #ccc;
  width: 400px;
  justify-self: center;
  text-align: center;
  background-color: deepskyblue;
}

/* @media only screen and (max-width: 550px) {
  .TeamsPage {
    display: grid;
    grid-template-columns: 1fr;
  }
} */
