.App {
  text-align: left;
  padding: 20px;
  font-family: fantasy;
  background-color: #262626;
}

a {
  text-decoration: none;
  color: unset;
}

.won {
  background-color: green;
}

.lost {
  background-color: #a93d55;
}

.teams-header {
  color: ghostwhite;
  justify-content: center;
  text-align: center;
  /* padding: 20px 0 0px; */
}

.other-team {
  font-size: 1.5rem;
}
